<div class="w-50">
  <div class="row">
    <h3>Create an Account</h3>
    <form class="ui form" [formGroup]="authForm">
      <!-- <div class="field">
        <label>Username</label>
        <input formControlName="username" />
      </div> -->
      <!-- {{ authForm.get('username').errors | json }} -->

      <app-input
        label="Username"
        [control] = "authForm.get('username')"
      ></app-input>
      {{ authForm.get('username').errors | json }}

      <hr/>

      <div class="field">
        <label>Password</label>
        <input formControlName="password" />
      </div>
      {{ authForm.get('password').errors | json }}

      <!-- <div class="field">
        <label>Password Confirmation</label>
        <input formControlName="passwordConfirmation" />
      </div> -->


      <div>
        <button class="ui submit button primary">
          Submit
        </button>
        <button class="ui submit button warning">
          Reset
        </button>
      </div>

      <hr />
      <pre>{{ authForm.value | json }}</pre>
    </form>
  </div>
